APP_PORT=your_port_here
APP_HOST=your_host_here
MONGODB_URI=your_mongodb_url_here
ACCESS_TOKEN=access_token
REFRESH_TOKEN=refresh_token
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=mini64/products
TRIPO_API_BASE_URL=
TRIPO_API_KEY=
TRIPO_API_KEY_HEADER=Authorization
TRIPO_API_KEY_PREFIX=Bearer
TRIPO_CLIENT_ID=
TRIPO_CLIENT_SECRET=
TRIPO_TOKEN_URL=
TRIPO_TOKEN_METHOD=POST
TRIPO_TOKEN_CLIENT_ID_FIELD=client_id
TRIPO_TOKEN_CLIENT_SECRET_FIELD=client_secret
TRIPO_TOKEN_GRANT_TYPE_FIELD=grant_type
TRIPO_TOKEN_GRANT_TYPE=client_credentials
TRIPO_CREATE_TASK_PATH=/task
TRIPO_TASK_STATUS_PATH_TEMPLATE=/task/{taskId}
TRIPO_OUTPUT_FORMAT=glb
TRIPO_MODEL_VERSION=
